@media(max-width: 1440px){
    .container{
        width: 95%;
    }
    .itself-categories {
        gap: 46px;
    }
    .cr-blocks {
    gap: 11px;
}
}
@media (max-width: 1200px){
    .cr-block-1 {
        width: 202px;
        height: 209px;
    }
    .work-block {
        width: 287px; 
    }
    .join {
        padding: 55px 88px;
    }
}
@media(max-width:1125px){
    .back-dog {
        width: 88%;
        height: 290px;
    }
    .back-dog:hover {
        width: 88%;
        height: 290px;
    }
    .mush{
        width: 88%;
        height: 290px;
    }
    .mush:hover{
        width: 88%;
        height: 290px;
    }
    .robot-back{
        width: 88%;
        height: 290px;
    }
    .robot-back:hover{
        width: 88%;
        height: 290px;
    }
    .types-dogs img{
        width: 79px;
    }
    .types-1025 {
        height: 19px;
        width: 54px;
    }
}
@media(max-width: 1024px){
    .hero-info h1 {
        font-size: 36px;
    }
    .hero-info .pp {
        font-size: 15px;
    }
    .hero-btn {
        height: 44px;
        padding: 0px 19px;
        gap: 5px;
    }
    .hero-main-img .hero-back {
        width: 390px;
    }
    .header-nav {
        gap: 17px;
    }
    .header-end {
        gap: 28px;
    }
    .collection-blocks {
        flex-wrap: wrap;
    }
    .ds-img-1 {
        width: 293px;
    }
    .ds-block-1-down {
        gap: 6px;
        top: 280px;
        left: 18px;
    }
    .ds-block-1-down h5 {
        font-size: 16px;
    }
    .magic-right {
        width: 250px;
        height: (144px);
        padding: 8px 40px;
    }
    .magic-right h1 {
        font-size: 37px;
    }
    .magic-right p {
        font-size: 13px;
    }
    .magic-left h1 {
        font-size: 40px;
    }
    .work-block img{
        width: 200px;
    }
    .work-block h2 {
        font-size: 18px;
        line-height: 21px;
    }
    .work-block p {
        font-size: 13px;
        line-height: 26px;
    }
    .work-block {
        width: 245px;
    }
    .itself-join img{
        width: 338px;
    }
    .join-info h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .join-info p {
        font-size: 18px;
    }
    .join-input input {
        padding: 13px 56px 13px 11px;
    }
    .join-icon {
        font-size: 16px;
        padding: 10px 12px;
        width: 149px;
        right: -4px;
        top: -2px;
        cursor: pointer;
    }
    .footer h1 {
        font-size: 21px;
        line-height: 25px;
    }
    .made hr {
        width: 285px;
        margin: 13px;
    }
}
@media (max-width: 992px){
    .ds-img-1 {
        width: 271px;
        padding-bottom: 131px;
    }
    .ds-block-1-down {
        gap: 0px;
        top: 260px;
        left: 10px;
    }
    .ds-block-1-down h5 {
        font-size: 14px;
        margin-bottom: 10px;
}
    
    .ds-down-center {
        gap: 9px;
    }
    .ds-down-end {
        gap: 68px;
    }
    .ds-down-center-2 {
        gap: 106px;
    }
}
@media(max-width: 981px){
    .categories-main-txt h1 {
        font-size: 28px;
        margin-left: 16px;
    }

}

@media (max-width: 768px){
    .hero-info h1 {
        font-size: 33px;
    }
    .hero-info .pp {
        font-size: 15px;
        line-height: 128%;
    }
}
@media (max-width: 1160px){
    .hero-info h1 {
        font-size: 35px;}
        .hero-info .pp {
            font-size: 17px;
            line-height: 128%;
        }
        .follow p {
            font-size: 18px;
        }
        .hero-main-img .hero-back {
            width: 390px;
        }
    
}
@media(max-width: 913px){
    .btn {
        height: 36px;
        padding: 0px 13px 0 37px;
        font-size: 13px;
    }
    .logo img{
        width: 22px;
    }
    .logo .l{
        width: 117px;
    }
    .collection h3 {
        font-size: 26px;
    }
    .collection p {
        font-size: 17px;
    }
}
@media(max-width: 663px){
    .btn {
        height: 28px;
        padding: 0px 8px 0 31px;
        font-size: 9px;
    }
    .header-nav a {
        font-size: 10px;
        margin-left: 6px;
    }
    .hero-main-img .hero-back {
        width: 240px;
    }
    .hero-main-img h1 {
        font-size: 13px;
    }
    .star-hero p {
        font-size: 12px;
    }
    .star-hero img{
        width: 18px;
    }
    .hero-info h1 {
        font-size: 20px;
    }
    .hero-info .pp {
        font-size: 11px;
        line-height: 149%;
    }
    .hero-btn {
        height: 33px;
        padding: 0px 8px;
    }
    .hero-btn {
        margin: 6px 0 12px 0;
        font-size: 11px;
    }
    .hero-btn ion-icon {
        font-size: 14px;
    }
    .follow p {
        font-size: 13px;
    }
    .collection h3 {
        font-size: 20px;
    }
    .collection p {
        font-size: 13px;
    }
    .back-dog {
        width: 205px;
        height: 204px;
    }
    .back-dog:hover {
        width: 205px;
        height: 204px;
    }
    .mush{
        width: 205px;
        height: 204px;
    }
    .mush:hover{
        width: 205px;
        height: 204px;
    }
    .robot-back{
        width: 205px;
        height: 204px;
    }
    .robot-back:hover{
        width: 205px;
        height: 204px;
    }
    .work-block {
        width: 155px;
        padding: 17px 20px;
    }
    .categories-main-txt {
        gap: 453px;
    }
}