*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    background: rgba(43, 43, 43, 1);
}

.container{
width: 1230px;
margin: 0 auto;
}






/* FOR HEADER ---------------------*/
.header-nav {
    display: flex;
    gap: 40px;

}
#header{
    padding: 23px 0px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-end{
    display: flex;
    align-items: center;
    gap: 59px;
}
.header-nav a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    transition: .2s;
    margin-left: 10px;
}
.header-nav a:hover{
    color: rgb(133, 230, 196);
    transform: scale(1.1);
}
.btn{
    cursor: pointer;
    border: none;
height: 44px;
padding: 0px 22px 0 45px;
gap: 12px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #ffffff;
font-size: 16px;
font-weight: 600;
transition: .3s;
}
.btn:hover{
    color: white;
    background: rgb(251, 80, 1);
    transform: scale(1.1);
    transition: .3s;
}
.btn{
    position: relative;
}
.btn ion-icon{
    cursor: pointer;
    position: absolute;
    left: 15%;
    top: 23%;
    font-size: 22px;
}
.btn button:hover{
    color: red;
}







/* FOR HERO ------------------- */
#hero{
    margin-top: 90px;
}
.hero-all-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-info h1{
    color: var(--White, #FFF);
font-size: 67px;
font-weight: 600;
text-transform: capitalize;
}
.hero-info .pp{
    color: var(--White, #ffffffbc);

font-size: 22px;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
margin: 24px 0px;
}
.hero-btn{
    margin: 12px 0 22px 0;
    border: none;
    display: flex;
height: 60px;
padding: 0px 50px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #FFF;
font-size: 16px;
font-weight: 600;
line-height: 140%; /* 22.4px */
transition: .3s;
cursor: pointer;
}
.hero-btn ion-icon{
    font-size: 23px;
}
.hero-btn:hover{
    color: white;
    background: rgb(251, 80, 1);
    transform: scale(1.1);
    transition: .3s;
}
.hero-followers{
    display: flex;
    gap: 40px;
}
.follow h1{
color: var(--White, #FFF);
font-size: 28px;
font-weight: 700;
}
.follow p{
    color: var(--White, #ffffffcf);
font-size: 22px;
font-weight: 400;
}

.hero-main-img .hero-back{
     background: #3B3B3B;
     padding: 0px 0px 90px 0px;
     border-radius: 20px;
}
.hero-main-img{
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.hero-main-img:hover{
    transform: scale(.97);
    transition: .4s;
}
.star-hero{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-img-txt{
    position: absolute;
    left: 14px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-main-img h1{
    color: #FFF;

/* H5 - Work Sans */
font-size: 22px;
font-weight: 600;
}
.star-hero p{
    color: #ffffffc0;

/* Base(Body) - Work Sans */
font-size: 16px;
font-weight: 400;
}




/* FOR SECTION - 2  _______________ */

#collection {
    margin: 190px 0 30px 0;
}

.collection h3 {
margin-left: 38px;
 color: var(--White, #FFF);
/* H3 - Work Sans */
font-size: 38px;
font-weight: 600;
text-transform: capitalize;
}

.collection p {
margin: 8px 0 8px 38px;
 color: var(--White, #FFF);
/* Body Text- Work Sans */
font-size: 22px;
font-weight: 400;
text-transform: capitalize;
}

.collection-blocks {
    display: flex;
    justify-content: space-around;
    /* gap: 85px; */
}

.dog {
    margin-top: 50px;
}

.types-dogs {
    display: flex;
    align-items: center;
    gap: 18px;
    margin:10px 0;
}


.types-1025 {
 display: flex;
 height: 32px;
 width: 64px;
padding: 32px 15px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
cursor: pointer;
}
.types-1025:hover{
    color: white;
    background: rgb(209, 68, 3);
    transform: scale(.98);
    transition: .3s;
}

.types-1025 h5 {
 color: #FFF;
text-align: center;
/* H5 - Space Mono */
font-size: 22px;
font-style: normal;
font-weight: 700;
text-transform: capitalize;
}
.types-dogs img{
    cursor: pointer;
    transition: .5s;
}
.types-dogs img:hover{
    transform: scale(.97);
    transition: .5s;
}

.dog-end {
    display: flex;
    align-items: center;
}

.dog h5 {
padding: 8px 0;
 color: #FFF;
/* H5 - Work Sans */
font-size: 22px;
font-weight: 600;
text-transform: capitalize;
}

.dog-end p {
 color: #FFF;
/* Base(Body) - Work Sans */
font-size: 16px;
font-weight: 400;
margin: 0px 0px 0px 10px;
}
.back-dog{
    background: url("../img/dog-1.svg") no-repeat center/cover;
    width: 100%;
    height: 330px;
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
}
.back-dog:hover{
    background: url("../img/nft.webp") no-repeat center/cover;
    width: 100%;
    height: 330px;
    border-radius: 20px;
    transition: .4s;
}
.mush{
    width: 100%;
    height: 330px;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s;
    background: url("../img/mushroom-1.svg") no-repeat center/cover;
}
.mush:hover{
    background: url("..//img/nft2.webp") no-repeat center/cover;
    width: 100%;
    height: 330px;
    border-radius: 20px;
    transition: .4s;
}
.robot-back{
    background: url("../img/robot-1.svg") no-repeat center/cover;
    width: 100%;
    height: 330px;
    cursor: pointer;
    transition: .4s;
    border-radius: 20px;
}
.robot-back:hover{
    background: url("../img/nft3.jpg") no-repeat center/cover;
    width: 100%;
    height: 330px;
    border-radius: 20px;
    transition: .5s;
}

/* FOR SECTION - 3 ______________________ */
#creators {
    margin-top: 200px;
}

.creators-start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 130px;
}

.cr-st-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cr-st-left h3 {
 color: var(--White, #FFF);
/* H3 - Work Sans */
font-size: 38px;
font-weight: 600;
text-transform: capitalize;
}

.cr-st-left p {
color: var(--White, #FFF);
/* Body Text- Work Sans */
font-size: 22px;
font-weight: 400;
text-transform: capitalize;
}

.cr-st-right button {
 display: flex;
height: 60px;
padding: 0px 50px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
background: transparent;
border: 2px solid var(--Call-to-Action, #A259FF);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 600;
transition: .4s;
cursor: pointer;
}

.cr-st-right button:hover {
    background: rgb(235, 102, 6);
    border: none;
    transform: scale(1.1);
    transition: .4s;

}

.cr-st-right ion-icon {
 width: 20px;
height: 20px;
color: #A259FF;
}



.cr-blocks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cr-block-1 {
display: flex;
padding:20px;
flex-direction: column;
align-items: center;
gap: 25px;
 background: #3B3B3B;
border-radius: 20px;
width: 225px;
height: 235px;
cursor: pointer;
color: white;
transition: .4s;
}
.cr-block-1:hover{
    background: rgba(190, 200, 1, 0.793);
    color: rgb(255, 255, 255);
    transition: .5s;
}

.cr-block-1 h5 {
color: inherit;
text-align: center;
/* H5 - Work Sans */
font-size: 22px;
font-weight: 600;
text-transform: capitalize;

}

.cr-block-1 p {
 color: var(--caption-label-text, #858584);
text-align: right;
/* Base(Body) - Work Sans */
font-size: 16px;
font-weight: 400;
}

.cr-block-1 span {
color: rgb(255, 255, 255);
/* Base (Body) - Space Mono */
font-size: 16px;
font-weight: 400;
}

.cr-block-1-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cr-block-1 {
    margin-top: 60px;
    position: relative;
}

.cr-block-1 h3 {
position: absolute;
left: 20px;
top: 18px;
 width: 30px;
height: 30px;
 border-radius: 50%;
background:#2B2B2B;
display: flex;
align-items: center;
justify-content: center;
width: 30px;
color: var(--caption-label-text, #858584);
text-align: center;
/* Base (Body) - Space Mono */
font-size: 16px;
font-weight: 400;
text-align: center;
transition: .3s;
}
.cr-block-1 h3:hover{
    background: white;
    color: black;
    transition: .3s;
    transform: scale(1.1);
}

















/*    FOR SECTION - 4________CATEGORIES */
#categories{
    margin: 200px 0 50px 0;
}
.categories-main-txt h1{
    color: var(--White, #FFF);

/* H3 - Work Sans */
font-size: 38px;
font-weight: 600;
}
.categories-main-txt{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 750px;
}
.itself-categories{
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories-block{
    position: relative;
    width: 240px;
height: 240px;
margin-top: 40px;
padding: 20px 0px;
}
.categories-block h3{
    position: absolute;
    left: 0;
    top: 260px;
    width: 230px;
    height: 50px;
    background: #474747;
    border-radius: 0 0 20px 20px;
    color: var(--White, #FFF);
    padding: 10px 0px 0px 10px;

    /* H5 - Work Sans */
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
/* .categories-block h3{
    color: var(--White, #FFF);

font-size: 22px;
font-weight: 600;
text-transform: capitalize;
} */

.categories-back{
    background: url("../img/categories-1.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;

}
.categories-back:hover{
transition: .5s;
    filter: blur(0) opacity(100%) ;
}
.categories-back-0{
    background: url("../img/cat-0.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-0:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-1{
    background: url("../img/cat-1.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-1:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-2{
    background: url("../img/cat-2.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-2:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-3{
    background: url("../img/cat-3.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-3:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-4{
    background: url("../img/cat-4.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-4:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-5{
    background: url("../img/cat-5.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-5:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-back-6{
    background: url("../img/cat-6.svg") no-repeat center/cover;
    width: 240px;
height: 240px;
    filter: blur(5px) opacity(100%) ;
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.categories-back-6:hover{
    transition: .5s;
        filter: blur(0) opacity(100%) ;
    }
.categories-block ion-icon{
    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
    font-size: 90px;
    cursor: pointer;
}




/* FOR SECTION-5_____DISCOVER */






/* FOR SECTION-6________MAGIC */
#magic{
    background: url("../img/back-shadow.png") no-repeat center/cover;
    width: 100%;
    height: 640px;
    cursor: pointer;
    transition: 1s;
    margin: 160px 0 50px 0;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
}
#magic:hover{
    background: url("../img/back-none.png") no-repeat center/cover;
    width: 100%;
    height: 640px;
    transition: 1s;
}
.shromie h3{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
color: white;
}
.shromie{
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(59, 59, 59, 1);
    padding: 8px 14px;
    width: 120px;
    border-radius: 20px;
}
.magic-left h1{
font-size: 51px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
color: white;
}
.see-nft{
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    width: 100px;
    padding: 12px 24px;
    border-radius: 10px;
    transition: .3s;
}
.see-nft:hover{
    background: chocolate;
    color: white;
    transition: .3s;
}
.see-nft ion-icon{
    color: #A259FF;
    font-size: 18px;
}
.see-nft h2{
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;

}
.magic-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.magic-right{
    width: 280px;
height: Hug (144px);
padding: 40px 40px;
border-radius: 20px;
gap: 10px;
background: rgba(59, 59, 59, 0.719);

}
.magic-right p{
font-size: 15px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.2em;
color: rgba(255, 255, 255, 0.74);
word-spacing: 20px;

}
.magic-right h1{
font-size: 38px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
color: white;

}
.magic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}








/* FOR SECTION-7______WORKS */
#works{
    margin: 100px 0px;
}
.work-main h1{
font-size: 38px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.work-main p{
font-size: 22px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-top: 20px;

}
.work-block{
    background: rgba(59, 59, 59, 1);
    width: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
.work-block:hover{
    background: #0caa53;
    color: black;
    transition: .5s;
}
.work-block h2{
font-size: 22px;
font-weight: 600;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
color: white;
margin: 10px 0px 20px 0px;
}
.work-block p{
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 0.767);

}
.work-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}


/* FOR SECTION-8______JOIN */
#join{
    margin: 150px 0px;
}
.join{
    background: rgb(65, 65, 65);
    padding: 60px 120px;
    border-radius: 30px;
}
.itself-join{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join-info h1{
font-size: 38px;
font-weight: 600;
line-height: 46px;
letter-spacing: 0em;
color: white;
}
.join-info p{
font-size: 22px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.666);
margin: 30px 0px;
}
.join-input input{
    padding: 20px 60px 20px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.join-input input::placeholder{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
}
.join-icon{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
padding: 17px 20px;
width: 180px;
background: rgba(162, 89, 255, 1);
border-radius: 20px;
position: absolute;
right: 4px;
top: -2px;
cursor: pointer;
}
.join-icon ion-icon{
    font-size: 25px;
}
.join-input{
    position: relative;
}









/* FOOOOOOOOTER ______LAST________ */