*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    background: rgba(43, 43, 43, 1);
}

.container{
width: 1230px;
margin: 0 auto;
}






/* FOR HEADER ---------------------*/
.header-nav {
    display: flex;
    gap: 40px;

}
#header{
    padding: 23px 0px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-end{
    display: flex;
    align-items: center;
    gap: 59px;
}
.header-nav a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    transition: .2s;
    margin-left: 10px;
}
.header-nav a:hover{
    color: rgb(133, 230, 196);
    transform: scale(1.1);
}
.btn{
    cursor: pointer;
    border: none;
height: 44px;
padding: 0px 22px 0 45px;
gap: 12px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #ffffff;
font-size: 16px;
font-weight: 600;
transition: .3s;
}
.btn:hover{
    color: black;
    background: rgb(255, 255, 255);
    transition: .3s;
    transform: scale(1.06);
}
.btn{
    position: relative;
}
.btn ion-icon{
    cursor: pointer;
    position: absolute;
    left: 15%;
    top: 23%;
    font-size: 22px;
}
.btn button:hover{
    color: red;
}







/* FOR HERO ------------------- */





/* FOR SECTION - 2  _______________ */






/* FOR SECTION - 3 ______________________ */