*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    background: rgba(43, 43, 43, 1);
}

.container{
width: 1230px;
margin: 0 auto;
}






/* FOR HEADER ---------------------*/
.header-nav {
    display: flex;
    gap: 40px;

}
#header{
    padding: 23px 0px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-end{
    display: flex;
    align-items: center;
    gap: 59px;
}
.header-nav a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    transition: .2s;
    margin-left: 10px;
}
.header-nav a:hover{
    color: rgb(133, 230, 196);
    transform: scale(1.1);
}
.btn{
    cursor: pointer;
    border: none;
height: 44px;
padding: 0px 22px 0 45px;
gap: 12px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #ffffff;
font-size: 16px;
font-weight: 600;
transition: .3s;
}
.btn:hover{
    color: white;
    background: rgb(251, 80, 1);
    transform: scale(1.1);
    transition: .3s;
}
.btn{
    position: relative;
}
.btn ion-icon{
    cursor: pointer;
    position: absolute;
    left: 15%;
    top: 23%;
    font-size: 22px;
}
.btn button:hover{
    color: red;
}







/* FOR HERO ------------------- */
#hero{
    margin-top: 90px;
}
.hero-all-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-info h1{
    color: var(--White, #FFF);
font-size: 67px;
font-weight: 600;
text-transform: capitalize;
}
.hero-info .pp{
    color: var(--White, #ffffffbc);

font-size: 22px;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
margin: 24px 0px;
}
.hero-btn{
    margin: 10px 0 20px 0;
    border: none;
    display: flex;
height: 60px;
padding: 0px 50px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #FFF;
font-size: 16px;
font-weight: 600;
line-height: 140%; /* 22.4px */
transition: .3s;
cursor: pointer;
}
.hero-btn ion-icon{
    font-size: 23px;
}
.hero-btn:hover{
    color: white;
    background: rgb(251, 80, 1);
    transform: scale(1.1);
    transition: .3s;
}
.hero-followers{
    display: flex;
    gap: 40px;
}
.follow h1{
color: var(--White, #FFF);
font-size: 28px;
font-weight: 700;
}
.follow p{
    color: var(--White, #ffffffcf);
font-size: 22px;
font-weight: 400;
}

.hero-main-img .hero-back{
     background: #3B3B3B;
     padding: 0px 0px 90px 0px;
     border-radius: 20px;
}
.hero-main-img{
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.hero-main-img:hover{
    transform: scale(.97);
    transition: .4s;
}
.star-hero{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-img-txt{
    position: absolute;
    left: 14px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-main-img h1{
    color: #FFF;

/* H5 - Work Sans */
font-size: 22px;
font-weight: 600;
}
.star-hero p{
    color: #ffffffc0;

/* Base(Body) - Work Sans */
font-size: 16px;
font-weight: 400;
}




/* FOR SECTION - 2  _______________ */

#collection {
    margin-top: 90px;
}

.collection h3 {
margin-left: 38px;
 color: var(--White, #FFF);
/* H3 - Work Sans */
font-size: 38px;
font-weight: 600;
text-transform: capitalize;
}

.collection p {
margin: 8px 0 8px 38px;
 color: var(--White, #FFF);
/* Body Text- Work Sans */
font-size: 22px;
font-weight: 400;
text-transform: capitalize;
}

.collection-blocks {
    display: flex;
    justify-content: space-around;
    /* gap: 85px; */
}

.dog {
    margin-top: 50px;
}

.types-dogs {
    display: flex;
    align-items: center;
    gap: 18px;
    margin:10px 0;
}

.types-1025 {
 display: flex;
 height: 32px;
 width: 64px;
padding: 32px 15px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
}

.types-1025 h5 {
 color: #FFF;
text-align: center;
/* H5 - Space Mono */
font-size: 22px;
font-style: normal;
font-weight: 700;
text-transform: capitalize;
}

.dog-end {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dog h5 {
padding: 8px 0;
 color: #FFF;
/* H5 - Work Sans */
font-size: 22px;
font-weight: 600;
text-transform: capitalize;
}

.dog-end p {
 color: #FFF;
/* Base(Body) - Work Sans */
font-size: 16px;
font-weight: 400;
}


/* FOR SECTION - 3 ______________________ */